/* Center the entire page */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  padding-top: 0px;
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  background-color: #e9fac8; /* Optional background color for contrast */
  color: gray;
  font-family:serif;
  /* margin-top: 30px; */
}

.grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(11, 6.4vw); /* Responsive grid using viewport width (vw) */
  grid-template-rows: repeat(11, 5.5vh); /* Responsive grid using viewport height (vh) */
  gap: 0;
  /* background-color: #13be69; */
  max-width: 70.4vw;
  max-height: 60.5vh;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden; /* Prevent scrolling */
  /* align-items: center; */
  justify-content: center;
  
  
}
.podselction{
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.row {
  display: contents;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid gray;
}


/* Path highlighting for pods */
.path-pod1 {
  background-color: rgba(255, 0, 0, 0.3); /* Red with opacity */
}

.path-pod2 {
  background-color: rgba(0, 0, 255, 0.3); /* Blue with opacity */
}

.path-pod3 {
  background-color: rgba(0, 255, 0, 0.3); /* Green with opacity */
}

.car {
  position: absolute;
  display: flex;
  align-items: end;
  justify-content: end;
  margin-left: 20px;
  margin-top: 10px;
  font-size: 2em;

}
